.tabela-container {
    width: 100%;
    overflow-x: auto; /* Permite scroll horizontal */
    margin: 20px auto;
}

.tabela {
    width: 100%; /* Ajusta a largura para o contêiner */
    border-collapse: collapse;
    font-size: 14px; /* Define um tamanho de fonte padrão consistente */
}

/* Adiciono seletores mais específicos usando a classe pai */
.tabela-container .tabela th, 
.tabela-container .tabela td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Melhor alinhamento para dispositivos móveis */
}

.tabela-container .tabela th {
    background-color: #f2f2f2;
    text-align: center;
}

@media (max-width: 600px) {
    .tabela-container .tabela th, 
    .tabela-container .tabela td {
        font-size: 12px; /* Reduz o tamanho da fonte em telas pequenas */
        padding: 6px; /* Ajusta o espaçamento */
    }
}
