.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 20em;
    background-color: aquamarine;
}

.logo {
    height: 100px;
    width: 100px;
}