.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;

}

.logo {
    height: 100px;
    width: 100px;
}