.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.logo {
    height: 50px;
    width: 100px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-details {
    display: flex;
    flex-direction: column; /* Organizar em colunas */
    align-items: flex-end; /* Alinhar à direita */
    margin-right: 10px; /* Adicionar margem direita */
}

.user-details p {
    margin: 0;
}

.logoutButton {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.logoutButton:hover {
    background-color: #c82333;
}