.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 10px 20px;
    border-bottom: 1px solid #dee2e6;
}

.left, .center, .right {
    display: flex;
    align-items: center;
}

.left {
    flex: 1;
}

.center {
    flex: 2;
    justify-content: center;
}

.right {
    flex: 1;
    justify-content: flex-end;
}

.logo {
    height: 100px;
    width: 100px;
}

.menuIcon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.closeButton {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

nav {
    /* Não defina display aqui */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.dadosUsuario {
    font-family: 'Arial', sans-serif; /* Change font */
    font-size: 16px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    color: white;
    text-align: right;
    margin-right: 10px;
}

.logoutButton {
    font-family: 'Arial', sans-serif; /* Match font */
    font-size: 14px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.logoutButton:hover {
    background-color: #e60000;
}

@media (max-width: 900px) {
    nav {
        display: none; /* escondido por padrão */
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        background-color: #003366;
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 20px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;
    }

    nav.open {
        display: flex; /* só exibe se tiver .open */
        transform: translateX(0);
    }

    nav a {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        color: white;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }

    .menuIcon {
        display: block;
    }

    .closeButton {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .right {
        justify-content: flex-end;
    }
}

@media (min-width: 901px) {
    .center {
        justify-content: center;
    }

    .userInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
    }

    .right {
        display: none; /* Hide menu icon on desktop */
    }
}
