.containerTabela {
    padding: 0 20px;  /* Adiciona espaço em ambos os lados */
    min-width: 1000px;
    border-collapse: collapse;
    table-layout: fixed;
    max-height: 400px; /* Define uma altura máxima para permitir rolagem */
    overflow:auto;
    margin-bottom: 20px;
}

.tabelaIndividuais {
    max-height: 400px;
    overflow-y: auto;
    display: block;
    position: relative;
}

.containerTabela table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.containerTabela thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
}

.containerTabela th, 
.containerTabela td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    min-width: 120px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.containerTabela th:first-child, 
.containerTabela td:first-child {
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 2;
    min-width: 160px;
    width: 100px;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.containerTabela th {
    background-color: #f2f2f2;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    white-space: normal;
}

@media (max-width: 768px) {
    .containerTabela {
        max-height: 300px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        position: relative;
    }

    .containerTabela table {
        min-width: 1000px;
        border-collapse: collapse;
        overflow-x: auto;
        position: relative;
    }

    .containerTabela th, 
    .containerTabela td {
        padding: 6px;
        font-size: 13px;
    }

    .containerTabela th:first-child, 
    .containerTabela td:first-child {
        position: sticky;
        left: 0;
        white-space: normal;
        word-wrap: break-word;
        min-width: 180px;
        width: 220px;
    }

    .containerTabela thead {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 3;
    }
}
